<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
</head>
<body>
<div ng-app="MyApp" ng-controller="UsersCtrl">
    <label>
        <h3> Select all &nbsp
            <input type="checkbox" ng-model="selectAll" ng-click="checkAll()"/>
        </h3>
    </label>
    <table class="table">
        <tr ng-repeat="product in products | filter:search">
            <td>{{product.name}}</td>
            <td>
                <label>
                    <input type="checkbox" ng-click="usersetting(product)" ng-model="product.select">
                </label>
            </td>
        </tr>
    </table>
    <button ng-click="removeLastElement()">Remove last</button>
    <br>
    <br>
    <p>Chosen products: {{selected}}</p>
</div>

<script>
    angular.module('MyApp', []).controller('UsersCtrl', function ($scope) {
        $scope.products = [
            {id: 1, name: 'apple'},
            {id: 2, name: 'bread'},
            {id: 3, name: 'butter'},
            {id: 4, name: 'salami'},
            {id: 5, name: 'pasta'},
            {id: 6, name: 'orange'},
            {id: 7, name: 'chocolate'},
            {id: 8, name: 'pie'},
            {id: 9, name: 'milk'},
            {id: 1, name: 'nigga'}];

        $scope.checkAll = function () {
            angular.forEach($scope.products, function (product) {
                product.select = $scope.selectAll;
            });
        };
        $scope.removeLastElement = function () {
            $scope.products.splice(-1, 1)
        }
    });
</script>
</body>
</html>