* {
    margin: 0;
    padding: 0;
}

table {
    margin: 20px auto;
}

td{
    text-align: center;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 40px;
}

.endLineDiv {
    clear: both;
}

.field {
    float: left;
    margin: 0 auto;
}
td:hover {
    background-color: darkgrey;
}

.new-game-button {
    display: block;
    margin: 0 auto;
}

.picture {
    display: block;
    margin: 0 auto;
}