* {
    margin: 0;
    padding: 0;
}

table {
    margin: 0 auto;
}

td {
    text-align: center;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
}

td:hover {
    background-color: darkgrey;
}

.endLineDiv {
    clear: both;
}

.field {
    float: left;
    margin: 0 auto;
}

.new-game-button {
    display: block;
    margin: 0 auto;
}

#gameDiv {
    margin: 0 auto;
}

input {
    width: 40px;
    height: 30px;
    margin: 5px 5px;
    text-align: center;
}

.sizeOfImage {
    width: 30px;
    height: 28px;
}

#messageBox {
    font-size: 20px;
    text-align: center;
}